boto3==1.40.30
diffusers==0.35.1
huggingface_hub==0.34.4
libopencv==4.12.0
libtorch==2.7.1
numpy==2.3.3
opencv==4.12.0
piq==0.8.0
prometheus_client==0.22.1
py-opencv==4.12.0
runpod==1.7.13
torch==2.8.0
torchvision==0.22.0
yt-dlp==2025.9.5
